on early-init
    chmod 0660 /dev/goodix_fp
    chown system system /dev/goodix_fp

on init
    write /sys/class/sec/tsp/cmd "fod_enable,1,1,0"
    write /sys/class/sec/tsp/cmd "set_fod_rect,421,2018,659,2256"

on early-boot
    chown system system /sys/class/sec/tsp/input/fod_pressed
